/*
style for the blog page*/
/*
Styles for the homepage index.html*/
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html {
    background-color: gray;
}
body {
    width: 762px;
    margin: 1em auto;
    background-color: white;
    border: 3px solid black;
    box-shadow: 3px 3px 4px 4px black;
}
header {
    background: -webkit-linear-gradient(45deg,white,lightgray 75%,black);
    background: -moz-linear-gradient(45deg,white,lightgrey 75%,black);
    background: -o-linear-gradient(45deg,white,lightgray 75%,black);
    padding-bottom: 1em;
    border-bottom: 2px solid black;
    height: 120px;
}
footer {
    background: -webkit-linear-gradient(45deg,black,lightgray 75%,white);
    background: -moz-linear-gradient(45deg,black,lightgray 75%,white);
    background: -o-linear-gradient(45deg,black,lightgray 75%,white);
    padding-bottom: 1em;
    padding-top: 1em;
    margin-top: 1em;
    border-top: 2px solid black;
    clear: both;
}
header img {
    float: left;
    margin-left: .5em;
}
header h1,h2 {
    text-indent: 0.5em;
    color: black;
    padding-top: .25em;
}
#navTop {
    width: 100%;
    display: block;
    clear: both;
}
#navTop ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}
#navTop ul li {
    float: left;
}
#navTop ul li a {
    text-align: center;
    display: block;
    padding: 1em 0;
    width: 152px;
    text-decoration: none;
    background-color: black;
    color: white;
    font-weight: bold;
}
#navTop ul ul {
    display: none;
    position: absolute;
    top: 100%;
}
#navTop ul ul li {
    float: none;
    position: relative;
}
#navTop ul ul li ul {
    position: absolute;
    left: 100%;
    top: 0;
}
#navTop ul li.lastItem ul li ul {
    position: absolute;
    left: -100%;
    top: 0;
}
#navTop ul li.lastItem a {
    width: 154px;
}
#navTop ul li a:hover, #navTop ul li a:focus {
    color: red;
}
#navTop ul li a.current {
    color: red;
}
#navTop ul li:hover > ul {
    display: block;
}
#navTop > ul::after {
    content: "";
    display: block;
    clear: both;
}
#navLeft ul {
    list-style-type: none;
    margin-left: 1.25em;
    margin-bottom: 1.5em;
    margin-top: 1em;
}
#navLeft ul li {
    width: 100px;
    margin-bottom: .5em;
    border: 2px solid black;
}
#navLeft ul li a {
    display: block;
    padding: .5em .5em .5em .5em;
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: black;
}
#navLeft ul li a:hover,a:focus {
    color: red;
}
aside {
    width: 160px;
    float: left;
    padding-top: 1em;
    padding-right: .25em;
}
#navLeft h3 {
    margin: 0.5em;
    padding: 1em;
    background-color: black;
    color: white;
    border-radius: 25px;
}
main {
    width: 550px;
    height: 525px;
    float: right;
    padding: 1em;
}
footer p {
    text-align: center;
    font-weight: bold;
}
footer a {
    color: white;
    font-weight: bold;
}
#title {
    color: red;
}